In [43]:
import numpy as np
import pandas as pd
%precision 3

'%.3f'

#### Input data

In [44]:
start_elev = 234.117
back_sights = [1.403, 1.381, 1.414, 1.707, 1.200, 1.779, 1.169, 1.236, 1.852, 1.366, 1.639, 1.424, 0.791, 1.232, 2.033, 1.347, 1.959, 0.078, 1.903, 0.468, 1.449, 0.962, 0.369, 1.537, 1.447, 1.177, 1.343, 1.062]
fore_sights = [1.557, 1.338, 1.359, 1.367, 1.277, 1.625, 1.277, 1.318, 1.360, 1.197, 1.359, 0.890, 1.377, 1.397, 1.238, 1.165, 0.152, 2.819, 0.314, 2.054, 0.978, 0.767, 0.921, 1.752, 1.592, 1.511, 1.536, 1.226]
height_of_instrument = [] 
elev = [start_elev]

##### Level loop

In [45]:
height_of_instrument
elev
list_length = len(back_sights)
for i in range(list_length):
        new_height_of_instrument = elev[i] + back_sights[i]
        height_of_instrument.append(new_height_of_instrument)
        new_elev = height_of_instrument[i] - fore_sights[i]
        elev.append(new_elev)

In [46]:
back_sights.append(0.000)
height_of_instrument.append(0.000)
fore_sights.insert(0, 0.00)

#### Stations

In [51]:
stns = ['BM 1', 'CP23', 'TP1', 'TP2', 'TP3', 'TP4', 'TP5', 'TP6', 'TP7', 'TP8', 'TP9', 'TP10', 'BM13', 'TP11', 'TP12', 'TP13', 'TP14', 'CP19', 'TP15', 'FH1', 'TP16', 'FH2', 'FH3', 'TP17', 'TP18', 'TP19', 'TP20', 'TP21', 'BM1']

In [52]:
df1 = pd.DataFrame(stns, columns = ["STN"])
df2 = pd.DataFrame(back_sights, columns = ["BS"])
df3 = pd.DataFrame(height_of_instrument, columns = ["HI"])
df4 = pd.DataFrame(np.around(fore_sights, decimals = 3), columns = ["FS"])
df5 = pd.DataFrame( np.around(elev, decimals = 3), columns = ["ELEV"])


df = pd.concat([df1, df2, df3, df4, df5], join ="outer", axis = 1)
df

     STN     BS       HI     FS     ELEV
0   BM 1  1.403  235.520  0.000  234.117
1   CP23  1.381  235.344  1.557  233.963
2    TP1  1.414  235.420  1.338  234.006
3    TP2  1.707  235.768  1.359  234.061
4    TP3  1.200  235.601  1.367  234.401
5    TP4  1.779  236.103  1.277  234.324
6    TP5  1.169  235.647  1.625  234.478
7    TP6  1.236  235.606  1.277  234.370
8    TP7  1.852  236.140  1.318  234.288
9    TP8  1.366  236.146  1.360  234.780
10   TP9  1.639  236.588  1.197  234.949
11  TP10  1.424  236.653  1.359  235.229
12  BM13  0.791  236.554  0.890  235.763
13  TP11  1.232  236.409  1.377  235.177
14  TP12  2.033  237.045  1.397  235.012
15  TP13  1.347  237.154  1.238  235.807
16  TP14  1.959  237.948  1.165  235.989
17  CP19  0.078  237.874  0.152  237.796
18  TP15  1.903  236.958  2.819  235.055
19   FH1  0.468  237.112  0.314  236.644
20  TP16  1.449  236.507  2.054  235.058
21   FH2  0.962  236.491  0.978  235.529
22   FH3  0.369  236.093  0.767  235.724
23  TP17  1.537  236.709  0.921  235.172
24  TP18  1.447  236.404  1.752  234.957
25  TP19  1.177  235.989  1.592  234.812
26  TP20  1.343  235.821  1.511  234.478
27  TP21  1.062  235.347  1.536  234.285
28   BM1  0.000    0.000  1.226  234.121

####  $\sum Backsights - \sum Foresights$

In [53]:
sumbsfs = sum(back_sights) - sum(fore_sights)
sumbsfs

0.004

#### Circuit Error

In [54]:
circuit_error = elev[-1] - start_elev
circuit_error

0.004